

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.article-splash{
  background-position: 75% 75%;
  background-size:cover;
  background-repeat: no-repeat;
  margin-top:-20px
}

.what-next-card-container{
  min-height: 250px;
  border: lightgrey solid 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 25px;
}

#nav-menu-list{
}

@media (max-width: 766px) {
    #menu {
        display: none;
    }
}

#nav-block{
  background-color: lightgreen;
  width:3px;
  height: 100%;
  margin-right: 5px;
}

.card-items{
  margin-bottom: 30px;
  border-style: none;
  border-radius: 0;
  min-height: 200px;
}

.nav-link {
  color: red;
}

.card-body{
  padding-top: 50px;
}

#card-link{
  color: inherit;
}

#card-link:hover{
  text-decoration: none;
}


#item-1{
  background-color: rgba(84,165,219,255);
}

#item-1-title {
  font-size: 1.5em;
  color: white;
  font-family: monospace;
  text-transform: uppercase;
}

#item-2{
  background-color: rgba(179,179,179,255);
}

#item-2-title {
  font-size: 1.5em;
  color: rbga(179,179,179,255);
  font-family: monospace;
  text-transform: uppercase;
}





#item-3{
  background-color: rgba(51,172,111,255);
}

#item-3-title {
  font-size: 1.5em;
  color: white;
  font-family: monospace;
  text-transform: uppercase;
}

#item-4{
  background-color: rgba(160,192,87,255);
}

#item-4-title {
  font-size: 1.5em;
  color: rbga(179,179,179,255);
  font-family: monospace;
  text-transform: uppercase;
}

.article-content img{
  padding: 20px 0px 20px 40px;
}

.article-content h3 {
  padding-top:25px;
  margin-bottom: 25px;
}

.article-content a {
  border-left:0;
  border-right: 0;
  border-top:0;
  border-bottom: 1px;
  border-style: dotted;
  border-bottom-width: 1px;
  color: rgb(24, 126, 153);
}
.article-content a:hover {
  border-style:solid;
  text-decoration: none;
}


.sticksman {
  position: fixed;
  top: 75px;
}

.article-content > ol {
  padding-left: 5px;
}

.article-content > ol li, #help-content > ol > li {
  margin-bottom: 30px;
  padding: 0px 0 0px 35px;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 25px;
    list-style: none;
    line-height: 2em;
}

.article-content ol li:nth-of-type(1), #help-content ol li:nth-of-type(1) {
  background-image: url('/img/article_images/list-1.png');}

.article-content ol li:nth-of-type(2), #help-content ol li:nth-of-type(2) {
  background-image: url('/img/article_images/list-2.png');}

.article-content ol li:nth-of-type(3), #help-content ol li:nth-of-type(3) {
  background-image: url('/img/article_images/list-3.png');}

.article-content ol li:nth-of-type(4), #help-content ol li:nth-of-type(4) {
  background-image: url('/img/article_images/list-4.png');}

.article-content ol li:nth-of-type(5), #help-content ol li:nth-of-type(5) {
  background-image: url('/img/article_images/list-5.png');}

.article-content ol li:nth-of-type(6), #help-content ol li:nth-of-type(6) {
  background-image: url('/img/article_images/list-6.png');}

.article-content ol li:nth-of-type(7), #help-content ol li:nth-of-type(7) {
  background-image: url('/img/article_images/list-7.png');}

.article-content ol li:nth-of-type(8), #help-content ol li:nth-of-type(8) {
  background-image: url('/img/article_images/list-8.png');}

.article-content ol li:nth-of-type(9), #help-content ol li:nth-of-type(9) {
  background-image: url('/img/article_images/list-(9).png');}

.article-content ol li:nth-of-type(10), #help-content ol li:nth-of-type(10) {
  background-image: url('/img/article_images/list-10.png');}

.article-content ol li:nth-of-type(11), #help-content ol li:nth-of-type(11) {
  background-image: url('/img/article_images/list-(11).png');}

.article-content ol li:nth-of-type(12), #help-content ol li:nth-of-type(12) {
  background-image: url('/img/article_images/list-12.png');}

.article-content ol li:nth-of-type(13), #help-content ol li:nth-of-type(13) {
  background-image: url('/img/article_images/list-(13).png');}

.article-content ol li:nth-of-type(14), #help-content ol li:nth-of-type(14) {
  background-image: url('/img/article_images/list-14.png');}


.article-content img {
  padding-top: 0px;
  padding-bottom: 55px;
}

.hint{
  margin-top: 15px;
  margin-bottom: 25px;
  border-left: rgba(211,243,211,255) solid 15px;
}

.hint-collapsible {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.2em;
  font-weight: bold;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.hint-active, .hint-collapsible:hover {
  background-color: #fff;
}

.hint-active{
  outline:none;
}

/* Style the collapsible content. Note: hidden by default */
.hint-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  outline:none;
}

.hint-collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 1,2em;
    color: black;
    float: right;
    margin-left: 5px;
}

.hint-active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.article-objectives > h4{
  margin-left: 25px;
}

.article-objectives {
  background-color: rgba(215,244,238,255);
  padding: 15px 5px 15px 5px;
  border: lightblue solid .5px;
  line-height: 1.5em;
  margin: 15px 0px 25px 0px;
}
