

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#welcome{
   background-image: url('/img/backdrop.png');
       background-position: 0% 25%;
       background-size: cover;
       background-repeat: no-repeat;

}


#edoocoo-button:hover{
  background-color: rgba(75,81,87,255);
}

.using-link{
  border-bottom: white solid 1px;
  color: white;
  font-size: 1.1em;
}

.using-link:hover{
  text-decoration: none;
  color:black;
  border-bottom: black solid 1px;
}


.getting-started-card{
  background-color: white;
}

.tab-inner{
  text-align: left;
  padding: 10px;
}

.tab-inner >h4 {
  margin-left: 0px;
}

.tab-inner-list{
  text-align: center;
  padding-left: 0;
  list-style:  none;
}

.tab-inner-list a{
  color:grey;
  font-size: 1.2em;

}

.tab-inner-list a li {
  margin: 2px;
}


.card-wrapper:hover{
  background-color: rgba(242,242,242,255);
  -webkit-box-shadow: 0px 0px 16px 2px rgba(77,77,77,0.5);
  -moz-box-shadow: 0px 0px 16px 2px rgba(77,77,77,0.5);
  box-shadow: 0px 0px 16px 2px rgba(77,77,77,0.5);
}



.tab{
  padding-bottom:15px;
  padding-left: 0px;
}

.tab-inner:hover{
  background-color: lightgrey;
  border-left: red solid 4px;
}

#carousel-phone{
  background-image: url('/img/phone-background.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: auto;
}


#side-scroller{
overflow-y: scroll;
height: calc(100vh - 75px);
position: fixed;
border-right: lightgrey solid 1px;
display: inherit;
min-width: 17%;
}

#side-scroller > a {
  color: rgba(26,26,26,255);
  font-weight: bold;
}

.side-scroller-menu-list > a > li{
  list-style-type: none;
  padding-left: 0px;
  padding-top: 7px;
  margin-left: 0px;
}

.side-scroller-menu-list {
  padding-left: 0px;
  margin-left: 0px;
}

.side-scroller-menu-list > a {
  font-size: 0.9em;
  color: rgba(128,128,128,255);
  margin-left: 0px;
}

.side-scroller-menu-list > a:hover {
  color: rgba(51,51,51,255);
  text-decoration: none;
}

#help-content h2{
  margin-top: 25px;
}



.carousel-insert{
  margin-top: 30%;
  display: block;
  max-height: auto;
  width: auto;
  margin-bottom: -50px;
}

.custom-carousel-item{
  margin-top: 25%;
  padding-left: 20%;

}

@media (max-width: 576px) {
    #carousel-phone {
        display: none;
    }
    .custom-carousel-item {
      margin-top: 20%;
      padding-left: 10%;
      margin-bottom:20%;

    }
}

#nav-block{
  background-color: lightgreen;
  width:3px;
  height: 100%;
  margin-right: 5px;
}

.card-items{
  margin-bottom: 30px;
  border-style: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-height: 200px;

}

.nav-link {
  color: red;
}

.card-body{
  padding-top: 50px;
}

#card-link{
  color: inherit;
}

#card-link:hover{
  text-decoration: none;
  background-color: rgba(242,242,242,255);
}

.card-title{
  color:black;
}


#item-1{
  background-color: rgba(84,165,219,255);
}



#item-1-title {
  font-size: 1.5em;
  color: white;
  font-family: monospace;

}

#item-2{
  background-color: rgba(179,179,179,255);
}

#item-2-title {
  font-size: 1.5em;
  color: rbga(179,179,179,255);
  font-family: monospace;
}






#item-3, #item-4 {
    border: 1px solid lightgrey;
    border-radius: 10px;
}

#item-3-title, #item-4-title {
  font-size: 1.5em;
  color: rbga(179,179,179,255);
  font-family: monospace;
}

#break-section{
  background-image: url('/img/bg_dots.png');
  background-repeat: repeat;
}

#chain-link{
  display: block;
  width:25px;
  height: auto;
  padding-right:5px;
  padding-bottom: 2px;
}

#chain-link:hover{
  background-image: url('/img/34735.svg');
}

#article-faqs{
  background-color: rgb(213,255,213,255);
  color:white;
}

#footer{
  background-color: rgba(26,26,26,255);
}
