

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#welcome{
   background-image: url('/img/backdrop.png');
       background-position: 0% 25%;
       background-size: cover;
       background-repeat: no-repeat;

}

#carousel-phone{
  background-image: url('/img/phone-background.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: auto;
}




.carousel-insert{
  margin-top: 30%;
  display: block;
  max-height: auto;
  width: auto;
  margin-bottom: -50px;
}

.custom-carousel-item{
  margin-top: 25%;
  padding-left: 20%;

}

@media (max-width: 576px) {
    #carousel-phone {
        display: none;
    }
    .custom-carousel-item {
      margin-top: 20%;
      padding-left: 10%;
      margin-bottom:20%;

    }
}

#nav-block{
  background-color: lightgreen;
  width:3px;
  height: 100%;
  margin-right: 5px;
}

.card-items{
  margin-bottom: 30px;
  border-style: none;
  border-radius: 5px;
  min-height: 200px;

}

.nav-link {
  color: red;
}

.card-body{
  padding-top: 50px;
}

#card-link{
  color: inherit;
}

#card-link:hover{
  text-decoration: none;
}


#item-1{
  background-color: rgba(84,165,219,255);
}



#item-1-title {
  font-size: 1.5em;
  color: white;
  font-family: monospace;

}

#item-2{
  background-color: rgba(179,179,179,255);
}

#item-2-title {
  font-size: 1.5em;
  color: rbga(179,179,179,255);
  font-family: monospace;
}






#item-3, #item-4 {
    border: 3px solid lightgrey;
    border-radius: 10px;
}

#item-3-title, #item-4-title {
  font-size: 1.5em;
  color: rbga(179,179,179,255);
  font-family: monospace;
}

#break-section{
  background-image: url('/img/bg_dots.png');
  background-repeat: repeat;
}

#chain-link{
  display: block;
  width:25px;
  height: auto;
  padding-right:5px;
  padding-bottom: 2px;
}

#chain-link:hover{
  background-image: url('/img/34735.svg');
}

#article-faqs{
  background-color: rgb(213,255,213,255);
  color:white;
}

#footer{background-color: rgba(26,26,26,255);}
